h1{font-size: 50px;}
#header{background: url("../images/unicorn1.jpg") center 0 no-repeat;height: 180px;}
.header-title{opacity: 1; color: #fff; padding-top: 30px; padding-left: 20%}
.big-name{opacity: 1;font-size: 90px;font-weight: bolder;margin-bottom: 100px;}
.intro_content{font-size: 20px;text-indent: 2em;}