h1{font-size: 50px;}
#header{background: url("../images/u.jpg") ;height: 250px;}
.header-title{opacity: 1;color: #fff;text-align: center;padding-top: 60px;}
.big-name{opacity: 1;font-size: 90px;font-weight: bolder;margin-bottom: 100px;}
.intro_content{font-size: 20px;text-indent: 2em;}